@import "theme.css";
@import "components/header.css";
@import "components/welcome.css";
@import url("https://use.typekit.net/xkq6fsr.css");

/* MASTER STYLES */
:root {

    /* SIZES */
    --iphonex-height:50.75rem;
    --iphonex-width:23.44rem;
    --thumbnail: 5rem;

    /* TEXT */
    --text-hero: 4.5rem;
    --text-xl: 1.5rem;
    --text-lg: 1.25rem;
    --text-base: 1rem;
    --text-sm: 0.75rem;
    --text-ultra-thin: 100;
    --text-extra-thin: 200;
    --text-thin: 300;
    --text-reg: 400;
    --text-med: 500;
    --text-semi-bold: 600;
    --text-bold: 700;
    --text-black: 900;
    --text-italic: italic;

    /* COLORS */
    --black: #272727;
    --gunmetal: #202c39;
    --charcoal: #283845;
    --lightgrey: #f1f2f6;
    --blue-grey: #93a3b1;
    --white: #ffffff;
    --orange: #f29559;
    --salmon:#ef8275;
    --sage: #b8b08d;
    --yellow: #f2d492;
    --red: #e15554;
    --blue: #2429bd;
    --theme: #47FFAF;
    --transparent: transparent;

    /* PADDING/MARGIN */
    --padding-max: 2rem;
    --padding-xxl:1.75rem;
    --padding-xl: 1.5rem;
    --padding-lg: 1.25rem;
    --padding-base: 1rem;
    --padding-sm: 0.75rem;
    --padding-xs: 0.5rem;
    --padding-xxs: 0.25rem;
    --padding-none: 0rem;

    /* RADIUS */
    --circle: 50%;
    --rounded: 0.25rem;
    --rounded-extra: 0.5rem;
    --square: 0rem;
    --iphonex-corner: 2.75rem;

    /* BORDERS */
    --stroke-thin: 0.5px;
    --stroke-base: 1px;
    --stroke-med: 1.5px;
    --stroke-thick: 2px;

}

html {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
}
body {
    margin: var(--size-none);
    font-family: "sofia-pro", sans-serif;
    font-size: var(--text-base);
}


/* ----------------- */
/* GLOBAL ROW STYLES */
/* ----------------- */
/* .row {
    padding-left: var(--padding-max);
    padding-right: var(--padding-max);
} */

/* REDUCING PADDING ON MOBILE */
/* @media screen and (max-width: 500px) {
    .row {
        padding-left: var(--padding-lg);
        padding-right: var(--padding-lg);    }
} */