@import "theme.css";
@import "components.css";
@import url("https://use.typekit.net/xkq6fsr.css");

/* MASTER STYLES */
html {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
}
body {
    margin: var(--size-none);
    font-family: "mr-eaves-modern", sans-serif;
    font-size: var(--text-base);
}