/* MASTER STYLES */
body {
    margin: 0px;
    /* font-family: "Balsamiq Sans", sans-serif; */
}

.btn-icon {
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: none;
    background-color: pink;
}

/* NAVBAR STYLES*/
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    border-bottom: 1px solid gainsboro;
    align-items: center;
}

.navbar > .navbar-left > div {
    margin-right: 1rem;
    font-size: 1rem;
    text-transform: uppercase;
}

.navbar > .navbar-right > div {
    margin-left: 1rem;
    font-size: 1rem;
    text-transform: uppercase;
}

.navbar-links {
    display: flex;
}

/* .navbar-link {
    margin: 0 0.5rem 0 0.5rem;
} */
.navbar-left > .navbar-links > .navbar-link > .navbar-link-text {
    margin-left: 1rem;
}

.navbar-right > .navbar-links > .navbar-link > .navbar-link-icon {
    height: 1.5rem;
    margin-left: 0.5rem;
}

.navbar > .navbar-left > .navbar-links > .navbar-branding {
    margin-right: 1.25rem;
}

.navbar > .navbar-left > .navbar-links > .navbar-menu > .btn-icon {
    background-color: transparent;
}

@media screen and (max-width: 650px) {
    .navbar > .navbar-left > .navbar-links > .navbar-branding {
        display: none;
    }
    .navbar > .navbar-left > .navbar-links > .navbar-link {
        display: none;
    }
    .navbar {
        padding: 0.5rem;
    }
}

@media screen and (min-width: 651px) {
    .navbar > .navbar-center > .navbar-branding {
        display: none;
    }
    .navbar > .navbar-left > .navbar-links > .navbar-menu {
        display: none;
    }
}