/* ------------------- */
/* STRUCTURE OF NAVBAR */
/* ------------------- */
.nav {

    /* SPREAD AND V-CENTER */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-max);

    /* PARENT TYPE STYLING */
    font-family: var(--font-header);
    text-transform: capitalize;
    color: var(--charcoal);

}

/* --------------------------- */
/* REMOVE LINK STYLING ON TEXT */
/* --------------------------- */
.nav-left > a:link {
    text-decoration: none;
    color: var(--charcoal);
}
.nav-left > a:visited {
    text-decoration: none;
    color: var(--charcoal);
}
.nav-left > a:hover {
    text-decoration: none;
    color: var(--charcoal);
}
.nav-left > a:active {
    text-decoration: none;
    color: var(--charcoal);
}
.nav-link > a:link {
    text-decoration: none;
    color: var(--charcoal);
}
.nav-link > a:visited {
    text-decoration: none;
    color: var(--charcoal);
}
.nav-link > a:hover {
    text-decoration: none;
    color: var(--charcoal);
}
.nav-link > a:active {
    text-decoration: none;
    color: var(--charcoal);
}


/* -------------- */
/* LEFT LINK MENU */
/* -------------- */
.nav-left > .nav-branding {
    display: flex;
    align-items: center;

}
.initials {
    font-size: var(--text-xl);
    font-weight: var(--header-bold);
    text-transform: lowercase;

    margin-right: var(--padding-sm);
}
.divider {
    background-color: var(--blue-grey);
    width: var(--stroke-base);
    height: var(--text-lg);
    margin-right: var(--padding-sm);
}
.byline {
    color: var(--blue-grey);
    font-weight: var(--header-light);
}



/* --------------- */
/* RIGHT LINK MENU */
/* --------------- */
.nav-right > .nav-links {
    display: flex;
}
.nav-link {
    margin-left: var(--padding-xl);
}

.first {
    margin: 0;
}

.nav-thumbnail {
    height: 2rem;
}

/* -------------- */
/* RESPONSIVENESS */
/* -------------- */
@media screen and (max-width: 650px) {
    .nav-right > .nav-links {
        display: none;
    }

    .nav {
        padding: var(--padding-xxl) var(--padding-lg);
    }
}
@media screen and (min-width: 651px) {
    .nav-thumbnail {
        display: none;
    }
}