@import "./header.css";
@import "./headline.css";
@import url("https://use.typekit.net/xkq6fsr.css");

/* MASTER STYLES */
:root {

    /* SIZES */


    /* TEXT */
    --text-hero: 2.25rem;
    --text-xl: 1.5rem;
    --text-lg: 1.25rem;
    --text-base: 1rem;
    --text-sm: 0.75rem;

    --font-header: "span", serif;
    --font-body: "quasimoda", sans-serif;

    /* WEIGHTS */
    --header-thin: 200;
    --header-light: 300;
    --header-reg: 400;
    --header-semibold: 600;
    --header-bold: 700;
    --text-light: 300;
    --text-reg: 400;
    --text-med: 500;
    --text-semibold: 600;
    --text-bold: 700;
    --text-xbold: 800;
    --text-black: 900;

    /* COLORS */
    --black: #272727;
    --gunmetal: #202c39;
    --charcoal: #283845;
    --lightgrey: #f1f2f6;
    --blue-grey: #93a3b1;
    --ivory: #fafafa;
    --white: #ffffff;
    --orange: #f29559;
    --salmon:#ef8275;
    --sage: #b8b08d;
    --yellow: #f2d492;
    --red: #e15554;
    --blue: #2429bd;
    --theme: #47FFAF;
    --transparent: transparent;

    /* PADDING/MARGIN */
    --padding-max: 2.5rem;
    --padding-xxl:1.75rem;
    --padding-xl: 1.5rem;
    --padding-lg: 1.25rem;
    --padding-base: 1rem;
    --padding-sm: 0.75rem;
    --padding-xs: 0.5rem;
    --padding-xxs: 0.25rem;
    --padding-none: 0rem;

    /* RADIUS */
    --circle: 50%;
    --rounded: 0.25rem;
    --rounded-extra: 0.5rem;
    --square: 0rem;

    /* BORDERS */
    --stroke-thin: 0.5px;
    --stroke-base: 1px;
    --stroke-med: 1.5px;
    --stroke-thick: 2px;

}

html {
    font-family: sans-serif;
    font-style: normal;
}
body {
    margin: var(--size-none);
    font-family: "quasimoda", sans-serif;
    font-size: var(--text-base);
    font-weight: var(--text-reg);
    background-color: var(--ivory);
    color: var(--charcoal);
}

.row {
    padding: var(--padding-max);
}

@media screen and (max-width: 650px) {
    .row {
        padding: var(--padding-xxl) var(--padding-lg);
    }
}