.welcome {
    height: 100vh;
    background: linear-gradient(180deg, var(--gunmetal) 70%, var(--charcoal) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* TURN BACKGROUND WHITE */
@media screen and (max-width: 500px) {
    .welcome {
        /* background-color: var(--white); */
        background: none;
    }
}

.phone {
    /* BASIC STRUCTURE */
    max-height: var(--iphonex-height);
    max-width: var(--iphonex-width);
    height: 100%;
    width: 100%;
    border-radius: var(--iphonex-corner);
    background-color: var(--white);

    /* GRID LAYOUT */
    display: grid;
    grid-template-rows: 2.5rem repeat(5, 1fr) 2.5rem;
    grid-template-columns: 1fr;

}



/* -------- */
/* TOP HERO */
/* -------- */
.header {
    grid-area: 2 / 1 / 2 / 1; /* 2ND ROW */

    /* TEXT STYLING */
    color: var(--charcoal);
    font-size: var(--text-hero);
    text-transform: lowercase;
    font-weight: var(--text-black);

    opacity: 0; /* HIDE UNTIL ANIMATION */

    position: relative;

    padding: 0 0 0 var(--padding-lg);
}

.hero-wrapper {
    display: flex; /* POSITION ACCENT NEXT TO TITLE */

    position: absolute;
    left: -10rem;
}
.accent {
    color: var(--salmon);
}



/* ----------------- */
/* MAIN CONTENT BODY */
/* ----------------- */
.phone > .content {
    grid-area: 4 / 1 / 6 / 1; /* MIDDLE ROW */
    display: grid; /* ALLOW CHILD POSITIONING */
}

.greeting-wrapper {
    grid-area: 1 / 1; /* OVERLAP WITH SIBLING */
    display: grid; /* ALLOW CHILD POSITIONING */

}

/* GREETING ANIMATION */
.greeting {
    grid-area: 1 / 1; /* OVERLAP WITH SIBLING */
    text-align: center;

    opacity: 0;
    font-size: var(--text-lg);
}

/* ANIMATION STYLING */
.breathe {
    -webkit-animation-name: breathe;
            animation-name: breathe;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
}
@-webkit-keyframes breathe {
    50% {opacity: 1;}
    100% {opacity: 0;}
}
@keyframes breathe {
    50% {opacity: 1;}
    100% {opacity: 0;}
}

/* GREETING MODIFIER SCHEDULING */
.first {
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
}
.second {
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
}
.third {
    -webkit-animation-delay: 7s;
            animation-delay: 7s;
}



/* --------- */
/* SHORT BIO */
/* --------- */
.profile {
    opacity: 0; /* HIDE UNTIL ANIMATION */
    grid-area: 1 / 1; /* OVERLAP WITH SIBLING */
}

/* STRUCTURE & STYLING OF HEADER */
.profile-header {
    display: flex; /* DISPLAY PIC & NAME/BIO SIDE-BY-SIDE */
    align-items: center; /* VERTICALLY CENTER SIBLINGS */

    margin-bottom: var(--padding-lg);
    padding: 0 var(--padding-lg) 0 var(--padding-lg);
}
.thumbnail {
    height: var(--thumbnail);
}
.profile-title {
    margin-left: var(--padding-base);
    color: var(--charcoal);
}
.title {
    font-size: var(--text-xl);
    font-weight: var(--text-black);
}
.subtitle {
    font-weight: var(--text-thin);
    color: var(--charcoal);
}

/* BODY */
.profile-body {
    padding: 0 var(--padding-lg) 0 var(--padding-lg);
}
.status {
    display: flex; /* DISPLAY MSG & EMOJI SIDE-BY-SIDE */
    justify-content: space-between; /* CHILDREN AT OPPOSITE SIDES */

    /* STATUS BAR STYLING */
    background-color: var(--lightgrey);
    padding:var(--padding-sm) var(--padding-base) var(--padding-sm) var(--padding-base) ;
    border-radius: var(--rounded-extra);

    font-size: var(--text-base);
    font-weight: var(--text-reg);
}

/* REMOVE LINK STYLING ON STATUS */
.profile-body > a:link {
    text-decoration: none;
    color: var(--charcoal);
}
.profile-body > a:visited {
    text-decoration: none;
    color: var(--charcoal);
}
.profile-body > a:hover {
    text-decoration: none;
    color: var(--charcoal);
}
.profile-body > a:active {
    text-decoration: none;
    color: var(--charcoal);
}


/* ---------------- */
/* FOOTER STRUCTURE */
/* ---------------- */
.footer {
    grid-area: 6 / 1 / 7 / 1; /* POSITION IN BOTTOM SECTION */
    opacity: 0; /* HIDE UNTIL ANIMATION REVEAL */
    padding: 0 var(--padding-lg) 0 var(--padding-lg);

    display: flex; /* ALLOW LINKS AND SOCIAL SIDE-BY-SIDE */
    justify-content: space-between; /* CHILDREN AT OPPOSITE SIDES */

    font-size: var(--text-base);
    font-weight: var(--text-black);

    position: relative;
}

.social-media {
    position: absolute;
    right: -3rem;
}

.menu-links {
    position: absolute;
    left: -3rem;  
}

/* LINK STYLING */
.social > a {
    fill: var(--salmon);
}
.social > a:hover {
    fill: var(--blue-grey);
}
.menu-link > a:link {
    text-decoration: none;
    color: var(--charcoal);
}
.menu-link > a:visited {
    text-decoration: none;
    color: var(--charcoal);
}
.menu-link > a:hover {
    text-decoration: none;
    color: var(--theme);
}
.menu-link > a:active {
    text-decoration: none;
    color: var(--charcoal);
}

/* SPACING MODIFIER */
.middle {
    margin: var(--padding-xs) 0 var(--padding-xs) 0;
}



/* ----------------- */
/* FADE-IN ANIMATION */
/* ----------------- */
@-webkit-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}
/* ANIMATION CLASS MODIFIER */
.fadein {
    -webkit-animation-name: fadein;
            animation-name: fadein;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

.wave-two {
    -webkit-animation-delay: 10s;
            animation-delay: 10s;
}


/* ------------------ */
/* SLIDE-IN ANIMATION */
/* ------------------ */
.slide-from-right {
    -webkit-animation: slide-from-right 0.25s forwards;
            animation: slide-from-right 0.25s forwards;
    -webkit-animation-delay: 10s;
            animation-delay: 10s;
}

@-webkit-keyframes slide-from-right {
    100% {right: var(--padding-lg);}
}

@keyframes slide-from-right {
    100% {right: var(--padding-lg);}
}

.slide-from-left {
    -webkit-animation: slide-from-left 0.25s forwards;
            animation: slide-from-left 0.25s forwards;
    -webkit-animation-delay: 10s;
            animation-delay: 10s;
}

@-webkit-keyframes slide-from-left {
    100% {left: var(--padding-lg);}
}

@keyframes slide-from-left {
    100% {left: var(--padding-lg);}
}