@import "theme.css";

/* BUTTONS TYPES */
.btn {
    background-color: var(--lightgrey);
    color: var(--black);
    border: none;
    border-radius: var(--circle);
    padding: var(--padding-xs) var(--padding-lg) var(--padding-xs) var(--padding-lg);
    font-weight: var(--text-reg);
    font-size: var(--text-base);
    min-width: 3rem;
}

.btn-primary {
    background-color: var(--theme);
    color: var(--buttton-primary-text);
}

.btn-alt {
    background-color: var(--transparent);
    /* border: var(--stroke-thick) solid var(--black); */
    color: var(--black);
}

/* BUTTON SIZES */
.btn-sm {
    font-size: var(--text-sm);
}

.btn-lg {
    font-size: var(--text-lg);
    padding: var(--padding-xs) var(--padding-xl) var(--padding-xs) var(--padding-xl);
}

/* BUTTON MODIFIERS */
.btn:hover {
    filter: brightness(95%);
    cursor: pointer;
    transition: ease-in;
    transition-duration: 0.25s;
}

.btn-primary:hover {
    filter: brightness(85%);
}

.btn-alt:hover {
    background-color: var(--lightgrey);
    filter: brightness(95%);
}